<a href="https://colab.research.google.com/github/soumya17052002/Model-to-predict-corona-cases/blob/master/FinalRF_NoG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest Regression

We'll also try Random Forest regression on our data.

# Why random forest regression?

## Features and Advantages of Random Forest :

 - It is one of the most accurate learning algorithms available. For many data sets, it produces a highly accurate classifier.


- It runs efficiently on large databases.


- It can handle thousands of input variables without variable deletion.


- It gives estimates of what variables that are important in the classification.


- It generates an internal unbiased estimate of the generalization error as the forest building progresses.


- It has an effective method for estimating missing data and maintains accuracy when a large proportion of the data are missing.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
data=pd.read_csv("india_daily_data.csv")
data

             date  totalconfirmed  ...  dailydeceased  dailyrecovered
0     30 January                1  ...              0               0
1     31 January                1  ...              0               0
2    01 February                1  ...              0               0
3    02 February                2  ...              0               0
4    03 February                3  ...              0               0
..            ...             ...  ...            ...             ...
123      01 June           198372  ...            201            3882
124      02 June           207187  ...            222            4531
125      03 June           216876  ...            259            3789
126      04 June           226723  ...            274            4390
127      05 June           236185  ...            286            4779

[128 rows x 7 columns]

In [ ]:
active_cases=data['totalconfirmed']-data['totalrecovered']-data['totaldeceased']
data.insert(4,"activecases",active_cases,True)

In [ ]:
ar=list(range(1,129))
data.insert(0,"Sl.No.",ar,True)

In [ ]:
X = data.iloc[:,[0,4]].values
y = data.iloc[:,4].values

In [ ]:
data.describe()

           Sl.No.  totalconfirmed  ...  dailydeceased  dailyrecovered
count  128.000000      128.000000  ...     128.000000      128.000000
mean    64.500000    36210.460938  ...      51.937500      884.632812
std     37.094474    59493.229979  ...      71.932903     1632.245397
min      1.000000        1.000000  ...       0.000000        0.000000
25%     32.750000        4.500000  ...       0.000000        0.000000
50%     64.500000     2825.000000  ...      14.000000       37.000000
75%     96.250000    47176.750000  ...      93.250000     1089.250000
max    128.000000   236185.000000  ...     286.000000    11735.000000

[8 rows x 8 columns]

## Fitting the model

In [ ]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
y_pred = regressor.predict(X)

In [ ]:
for i in y_pred:
    print(round(i,0))

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
1.0
2.0
2.0
2.0
2.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
4.0
4.0
4.0
10.0
11.0
13.0
14.0
15.0
15.0
21.0
23.0
23.0
23.0
24.0
36.0
45.0
55.0
77.0
81.0
100.0
134.0
144.0
167.0
187.0
222.0
272.0
315.0
369.0
464.0
529.0
621.0
767.0
976.0
1045.0
1173.0
1394.0
1466.0
1717.0
1975.0
2431.0
2899.0
3025.0
3572.0
4516.0
4965.0
5536.0
5717.0
6536.0
7062.0
7686.0
8486.0
8966.0
10008.0
10694.0
11250.0
13112.0
14229.0
14939.0
16438.0
17584.0
18089.0
21625.0
22740.0
23882.0
26380.0
27177.0
29060.0
33277.0
37960.0
38710.0
42950.0
45424.0
47614.0
52020.0
53965.0
57081.0
60821.0
63917.0
67631.0
69243.0
81575.0
86073.0
92146.0
94968.0
99674.0
105002.0
107137.0
110882.0

# Metrics

Let's see how well our model has fit.

In [ ]:
import sklearn.metrics as metrics
from sklearn.model_selection import cross_val_score as cvs
def regression_results(y_true, y_pred):

    # Regression metrics
    explained_variance=metrics.explained_variance_score(y_true, y_pred)
    mean_absolute_error=metrics.mean_absolute_error(y_true, y_pred) 
    mse=metrics.mean_squared_error(y_true, y_pred) 
    mean_squared_log_error=metrics.mean_squared_log_error(y_true, y_pred)
    median_absolute_error=metrics.median_absolute_error(y_true, y_pred)
    r2=metrics.r2_score(y_true, y_pred)
    accuracy = cvs(estimator = regressor,X=X,y=y,cv=10)

    print('explained_variance: ', round(explained_variance,4))    
    print('mean_squared_log_error: ', round(mean_squared_log_error,4))
    print('r2: ', round(r2,4))
    print('MAE: ', round(mean_absolute_error,4))
    print('MSE: ', round(mse,4))
    print('RMSE: ', round(np.sqrt(mse),4))

In [ ]:
regression_results(y,y_pred)

explained_variance:  0.9998
mean_squared_log_error:  0.0014
r2:  0.9997
MAE:  191.9016
MSE:  186537.6708
RMSE:  431.9001